name = "mqtt-broker-rust"
main = "build/index.js"
compatibility_date = "2026-01-19"

# [build]
# command = "cargo install  worker-build@^0.7 && worker-build --release"


# Durable Objects configuration
[durable_objects]
bindings = [
  { name = "MQTT_BROKER", class_name = "MQTTBroker" }
]

# Durable Objects migration
[[migrations]]
tag = "<v1>"
new_sqlite_classes = ["MQTTBroker"]